body {
	margin: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0; 
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

#container {
	margin: auto; 
	width: 90%;
}

.myForm {
	top: -40PX;
	position: absolute;
	height: 30px;
}

#listTest {
	position: absolute;
	top: 70px; 
	height: 200px;
	width: 700px;
}

#listTest2 {
	position: absolute;
	top: 400px; 
	width: 90%;
	height: 200px;
}


.bodyDiv {
	position: absolute;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	top: 30px; 
	bottom: 0px;
	width: 100%;
	overflow-y: scroll;
}

.headDiv {
	position: absolute;
	background:#D2E0EB;
	width: 100%;
	top:0px;
}

.table {
	border-collapse: collapse;
	width: 100%; 
	top:0px;
}
  
.firstTd {
	width: 10px;
	padding: 5px;
    border: 1px solid #ddd;
}

.secondTd {
	width: 25px;
	padding: 5px;
    border: 1px solid #ddd;
}

.firdTd {
	padding: 5px;
    border: 1px solid #ddd;
}

.theadSecondTd {
	padding-right: 9px;
}



.click{
	background: #cee6fa;
}
